[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm i -g pnpm@9 && pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm --filter @titan/web exec next build"]

[start]
cmd = "node apps/web/.next/standalone/apps/web/server.js"
